<%- include('../partials/header') %>
<main>
<h3 class = 'blue-text text-darken-3'><%=expense.description%></h3>
<table class= 'blue-text text-darken-3' id="list">
    <thead>
      <tr>
        <th>Date of Purchase:</th>
        <th>Location:</th>
        <th>Cost:</th>
        <th>Description:</th>
        <th>Method of Payment:</th>
        <th>Category:</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td><%=moment(expense.date).format("L")%></td>
          <td><%= expense.location %></td>
          <td><%= expense.value %></td>
          <td><%= expense.description %></td>
          <td><%= expense.method%></td>
          <td><%= expense.category%></td>
        </tr>
      </tbody>
    </table>
<br>
<div class = 'add-expense'>
    <a href="/budgets/"> <button class="btn-large waves-effect waves-light pulse" type="submit" name="action">TAKE ME HOME
      <i class="material-icons right">send</i>
    </button></a>
  </main>
<%- include('../partials/footer') %>