<%- include('../partials/header') %>
<main>
    <a href="/budgets/new"> <button class="btn waves-effect waves-light" type="submit" name="action">Create a Budget
        <i class="material-icons right">send</i>
      </button></a>
<table id="list">
        <thead>
          <tr>
            <th>User</th>
            <th>Budget Name</th>
            <th>Income</th>
            <th>Expenses</th>
          </tr>
        </thead>
        <tbody>
          <% user.forEach(function(b) { %>
            <tr>
              <td><%= b.name %></td>
              <td><%= b.budgetName%></td>
              <td><%= b.income %></td>
              <td><a href="/budgets/<%= b._id %>"> <button class="btn waves-effect waves-light" type="submit" name="action">View
                    <i class="material-icons right">send</i>
                  </button></a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
  </main>
<%- include('../partials/footer') %>