<%- include('../partials/header') %>
<table id="list">
        <thead>
          <tr>
            <th>User</th>
            <th>Income</th>
            <th>Expenses</th>
          </tr>
        </thead>
        <tbody>
          <% budgets.forEach(function(b) { %>
            <tr>
              <td><%= b.name %></td>
              <td><%= b.income %></td>
              <td><a href="/movies/<%= b._id %>">View</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>

<%- include('../partials/footer') %>