<%- include('../partials/header') %>
<main>
  <br>
  <h3 class="blue-text text-darken-3">View Expenses</h3>
    <br>
  <table id="list" class="blue-text text-darken-3 highlight">
    <thead>
      <tr>
        <th>Date</th>
        <th>Value</th>
        <th>Location</th>
        <th>Description</th>
        <th>Category</th>
        <th>Method</th>
        <th>Update Expense</th>
        <th>Delete Expense</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <% if (budget.expenses.length > 0) { %>
      <% budget.expenses.forEach(function(e) { %>
      <tr>
        <td><%=moment(e.date).format("L")%></td>
        <td><%= e.value %></td>
        <td><%= e.location %></td>
        <td><%= e.description %></td>
        <td><%= e.category %></td>
        <td><%= e.method %></td>
            <td>
              <form action="/expenses/<%=e._id%>/edit" method="GET"> 
              <button class="btn-floating  waves-effect yellow"><i class="large material-icons">mode_edit</i></button></a></form>
          </td>
          <td>
            <form action="/expenses/<%=e._id%>?_method=DELETE" class="delete-form" method="POST">
              <button class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></button>
            </form>
          </td>
          <td><a href="/expenses/<%= e.id %>"> <button class="btn-floating waves-effect waves-light" type="submit" name="action">
              <i class="material-icons right">visibility</i>
            </button></a></td>
      </tr>
      <% }); %>
      <% } else { %>
      <% } %>
    </tbody>
  </table>
  <% if (budget.expenses.length === 0) { %>
  <h3 class ="black-text text-darken-3">No expenses found.</h3>
  <% } %>

<br>
<div class = 'add-expense'>
  <a href='<%=budget._id%>/expenses/new/'><button class="btn-large waves-effect waves-light pulse" class='add-expense' type="submit" name="action">Add
    Expense <i class="material-icons right">add</i></button></a>
    <br>
  </div>
</main>

<%- include('../partials/footer') %>